{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'find_your_cab/style.css' %}" />
<html>
<head>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Home</title>
    <style>
     body { background: lightgreen }
    </style>
</head>
<body>
<center>
    <h1>Rate your taxi</h1>
    <h2>This is the list of taxi around here</h2>
    <p style="text-align:center;">User:{{user.username}}</p>
    <form action="{% url 'find_your_cab:ratepage' user.id %}" method="post"> 
    {% csrf_token %}
    <p>Name</p>
    <input type="text" name="name_driv" id="name_driv"><br><br>
    <input type="submit" class="btn btn-primary">
    </form>
</center>
</body>
</html>
