<html>
<head>
    <title>find your cab</title>
</head>
<body>
    <h1>Let find your cab</h1>

    <table border=1>
        <tr>
            <td>ID driver</td>
            <td>Name driver</td>
            <td>Point</td>
        </tr>    
   {% if cab_driv %}
        {% for cabdriver in cab_driv %}
        <tr>
            <td>{{ cabdriver.id_driver}}</td>
            <td>{{ cabdriver.name_driver}}</td>
            <td>{{ cabdriver.point}}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>no data</td>
            <td>no data</td>
            <td>no data</td>
        </tr>
    {% endif%}
    </table>
</body>
</html>
