{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'find_your_cab/style.css' %}" />
<html>
<head>
    <title>find your cab</title>
</head>
<body>
    <h1>Taxi</h1>
    <h2>This is the list of taxi around here</h2>
    <p style="text-align:center;">ผู้ใช้:{{user_inform.name_user}}</p>
    <table border=1 align="center" id="t01">
        <tr>
            <td>ID driver</td>
            <td>Name driver</td>
            <td>Point</td>
        </tr>    
   {% if driv_inform %}
        {% for cabdriver in driv_inform %}
        <tr>
            <td>{{ cabdriver.id}}</td>
            <td><a  href="{% url 'find_your_cab:ratepage' cabdriver.id %}" >{{ cabdriver.name_driver }}</td>
            <td>{{ cabdriver.point }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>no data</td>
            <td>no data</td>
            <td>no data</td>
        </tr>
    {% endif%}
    </table>
</body>
</html>
