body { background: lightgreen }
h1 {
    color:rgb(0, 0, 0);
}
p {
    font-size:150%;
}

h2 {
    text-align:center;
    font-size:200%;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

textarea {
    width: 30%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.circleBtn:hover {
    background-color: #4CAF00;
}


